{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
{% block container_wrapper %}
    {{ knp_menu_render('calendar',  {'currentClass': 'active', 'template': '_menu_knp_bootstrap5.html.twig'}) }}
    <div class="container-fluid">
        <div id="calendar-month-view">
            <div class="calendar-container">
                <div class="calendar">
                    <header>
                        <h1>{% block title %}Calender View | {{ month_ui.today|date }}{% endblock %}</h1>
                    </header>
                    <ul class="weekdays">
                        {% for i in ['Sat','Sun','Mon', 'Tue', 'Wed', 'Thu', 'Fri'] %}
                            <li>
                                <abbr title="{{ i }}">{{ i }}</abbr>
                            </li>
                        {% endfor %}
                    </ul>
                    <ol class="day-grid">
                        {% for calendar_day in month_ui.period %}
                            <li class="{{ (calendar_day|date('M') != month_ui.today|date("M"))? 'not_this-month' }}">
                                <div class="day">
                                    <span>{{ calendar_day|date('d') }}</span>
                                    <span>{{ calendar_day|date('N') }}</span>
                                    <span>{{ calendar_day|date('D') }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
