{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('calendar') }} {% endblock %}
{% block javascripts %} {{ parent() }} {{ encore_entry_script_tags('calendar') }} {% endblock %}
{% block container_wrapper %}
    {{ knp_menu_render('calendar',  {'currentClass': 'active', 'template': '_menu_knp_bootstrap5.html.twig'}) }}
    <div class="container-fluid">
        <div id="calendar-week-view">
            <div class="container">
                <header>{% block title %}Calender View | {{ week_ui.today|date }}{% endblock %}</header>
                <div class="days">
                    <div class="filler"></div>
                    <div class="filler"></div>
                    {% for i in ['Sat','Sun','Mon', 'Tue', 'Wed', 'Thu', 'Fri'] %}
                        <div class="day">{{ i }}</div>
                    {% endfor %}
                    {# <div class="day current">{{ i }}</div> #}
                </div>
                <div class="content">
                    {% for i in 1..23 %}
                        <div class="time" style="grid-row:{{ i }}">{{ i+4 }}:00</div>
                    {% endfor %}
                    <div class="filler-col"></div>
                    {% for i in 3..9 %}
                        <div class="col" style="grid-column:{{ i }}"></div>
                    {% endfor %}
                    {# <div class="col weekend" style="grid-column:8"></div> #}
                    {% for i in 1..23 %}
                        <div class="row" style="grid-row:{{ i }}"></div>
                    {% endfor %}
                    <div class="event event1 calendar1">Event 1</div>
                    <div class="event event2 calendar2">Event 2</div>
                    <div class="event event3 calendar2">Event 3</div>
                    <div class="event event4 calendar1">Event 4</div>
                    <div class="current-time">
                        <div class="circle"></div>
                    </div><!-- .current-time -->
                </div><!-- .content -->
            </div><!-- .container -->
        </div><!-- #calendar-week-view -->
    </div><!-- .container-fluid -->
{% endblock %}
