{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('calendar') }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('calendar') }}
    {% endblock %}

{% block container_wrapper %}
    <div class="container-fluid">
        <div id="calendar-view">
            <div class="calendar-container">
                <div class="calendar">
                    <header>
                        <h1>{% block title %}Calender View | {{ month_ui.today|date }}{% endblock %}</h1>
                    </header>
                    <ul class="weekdays">
                        <li>
                            <abbr title="S">Sunday</abbr>
                        </li>
                        <li>
                            <abbr title="M">Monday</abbr>
                        </li>
                        <li>
                            <abbr title="T">Tuesday</abbr>
                        </li>
                        <li>
                            <abbr title="W">Wednesday</abbr>
                        </li>
                        <li>
                            <abbr title="T">Thursday</abbr>
                        </li>
                        <li>
                            <abbr title="F">Friday</abbr>
                        </li>
                        <li>
                            <abbr title="S">Saturday</abbr>
                        </li>
                    </ul>
                    <ol class="day-grid">
                        {% for calendar_day in month_ui.period %}
                            <li class="{{ (calendar_day|date('M') != month_ui.today|date("M"))? 'not_this-month' }}">
                                <div class="day">
                                    <span>{{ calendar_day|date('d') }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
