{{ form_start(form) }}
    {{ form_row(form.name) }}
<div class="row">
    <div class="col">{{ form_row(form.start) }}</div>
    <div class="col">{{ form_row(form.stop) }}</div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.interval) }}
    </div>
    <div class="col">
        {{ form_row(form.seconds) }}
    </div>
</div>
<div class="form-actions">
    <div class="btn-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div><!-- .btn-group -->
</div><!-- .form-actions -->
{{ form_end(form) }}
