{% extends 'base.html.twig' %}

{% block title %}Chronometer: {{ chronometer.name }}{% endblock %}
{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_chronometer_index') }}"><em
                class="bi bi-arrow-left"></em></a>
{% endblock %}
{% block card_actions %}
    <a class="btn btn-primary" href="{{ path('app_chronometer_edit', {'id': chronometer.id}) }}"><em
                class="bi bi-pencil"></em></a>
    {{ include('chronometer/_delete_form.html.twig') }}
{% endblock %}
{% block card_body %}
    <table class="table">
        <caption>Chronometer Record</caption>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ chronometer.id }}</td>
        </tr>
        <tr>
            <th>Start</th>
            <td>{{ chronometer.start ? chronometer.start|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Stop</th>
            <td>{{ chronometer.stop ? chronometer.stop|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Interval</th>
            <td>{{ chronometer.interval ? chronometer.interval.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
        </tr>
        <tr>
            <th>Seconds</th>
            <td>{{ chronometer.seconds }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ chronometer.name }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ chronometer.createdAt ? chronometer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ chronometer.updatedAt ? chronometer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
