<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title_html %}{{ block('title')|striptags }}{% endblock %} | Development </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body_wrapper %}
    {% block navigation %}{% include 'navbar.html.twig' %}{% endblock %}
    {% block page_actions_wrapper %}
        <div class="page-actions btn-group btn-group-sm">
            {% block page_actions %}
            {% endblock %}
        </div><!-- page-actions -->
    {% endblock %}
    <div class="container">
        {% block page_messages %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div><!-- .alert-success -->
            {% endfor %}
        {% endblock %}
        {% block card %}
            <div class="card">
                {% block card_header %}
                    <div class="card-header">
                        <h1 class="card-title">{% block title %}{% endblock %}</h1>
                    </div><!-- .card-header -->
                {% endblock %}
                {% block card_body %}
                    <div class="content card-body">{% block body %}{% endblock %}</div><!-- .content .card-body -->
                {% endblock %}
                {% block card_footer %}
                {% endblock %}
            </div><!-- .card -->
        {% endblock %}
    </div><!-- .container -->
{% endblock %}
</body>
</html>