{% extends 'base.html.twig' %}

{% block title %}Weight Log{% endblock %}

{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_weight_log_index') }}"><em
                class="bi bi-arrow-left"></em></a>
{% endblock %}
{% block card_actions %}
    <a class="btn btn-primary" href="{{ path('app_weight_log_edit', {'id': weight_log.id}) }}"><em
                class="bi bi-pencil"></em></a>
    {{ include('weight_log/_delete_form.html.twig') }}
{% endblock %}

{% block body %}

    <table class="table">
        <caption>Weight log details</caption>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ weight_log.id }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>KG {{ weight_log.weight }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ weight_log.createdAt ? weight_log.createdAt|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
