{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}
{% block page_actions %}
    <a class="btn-outline-primary" href="{{ path('app_item_new') }}"><em class="bi bi-plus"></em></a>
{% endblock %}

{% block card_body %}
    <table class="table">
        <caption>Items list</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-link" href="{{ path('app_item_show', {'id': item.id}) }}"><em
                                class="bi bi-eye-fill"></em></a>
                    <a class="btn btn-link" href="{{ path('app_item_edit', {'id': item.id}) }}"><em
                                class="bi bi-pencil"></em></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
