{% extends 'base.html.twig' %}

{% block title %}<em>{{ type|capitalize }}:</em> {{ item.name }}{% endblock %}
{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_item_index', {'type':type}) }}"><em
                class="bi bi-arrow-left"></em></a>
{% endblock %}
{% block card_actions %}
    <a class="btn btn-primary" href="{{ path('app_item_edit', {'id': item.id, 'type':type}) }}"><em
                class="bi bi-pencil"></em></a>
    {{ include('item/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    <div>
        <p>{{ item.description }}</p>
    </div>
    <table class="small">
        <caption>Item Details</caption>
        <tr>
            <th>Priority</th>
            <td>{{ item.priorityLabel }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </table>
{% endblock %}
